---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- Featured -->
    {%- for post in site.posts -%}
    {%- if post.featured -%}
    <div class="home-featured">
      <div class="home-featured-left">
        <a rel="details" href="{{ post.url | relative_url }}">
          <img src="{{ post.image_1 | relative_url }}" alt="Details"></img>
        </a>
      </div>
      <div class="home-featured-right">
        <div class="home-featured-hidden">
          <h3><b>{{ post.title }}</b></h3>
          <p class="post-meta">
            {%- if post.android_installs -%}
            <span>{{ post.android_installs }} installs</span>
            {%- endif -%}
            {%- if post.android_stars -%}
              <span> • {{ post.android_stars }} stars</span>
            {%- endif -%}
          </p>
          {{ post.content }}
        </div>
        <p><a rel="details" href="{{ post.url | relative_url }}">READ MORE</a></p>
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
    <!-- App -->
    <h2 class="post-list-heading post-section-header">APP&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl}}/app" alt="All">>>></a> </h2>
    <ul class="post-list home-post-list">
      {%- for post in site.posts -%}
      {%- if post.category == "app" -%}
      <li>
        <a class="home-post-image" rel="details" target="_blank" href="{{ post.url | relative_url }}">
          <img src="{{ post.image_1 | relative_url }}" alt="Details"></img><img src="{{ post.image_2 | relative_url }}" alt="Details"></img>
        </a>
        <div class="home-post-text">
         
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="home-post-meta">{{ post.date | date: date_format }}
            {%- if post.android_installs -%}
            <br/><span>{{ post.android_installs }} installs</span>
            {%- endif -%}
            <br/><span>{% include read-time.html content=post.content %}</span>
          </span>
          
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Kubernetes -->
    <h2 class="post-list-heading post-section-header">KUBERNETES&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl}}/kubernetes" alt="All">>>></a> </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="kubernetes" -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}
          {%- if post.android_installs -%}
          <span> • {{ post.android_installs }} installs</span>
          {%- endif -%}
          <span> • {% include read-time.html content=post.content %}</span>
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Flutter -->
    <h2 class="post-list-heading post-section-header">FLUTTER&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl}}/flutter" alt="All">>>></a> </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="flutter" -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}
          {%- if post.android_installs -%}
          <span> • {{ post.android_installs }} installs</span>
          {%- endif -%}
          <span> • {% include read-time.html content=post.content %}</span>
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Clean code -->
    <h2 class="post-list-heading post-section-header">CLEAN CODE&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl}}/clean-code" alt="All">>>></a> </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="clean-code" -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}
          {%- if post.android_installs -%}
          <span> • {{ post.android_installs }} installs</span>
          {%- endif -%}
          <span> • {% include read-time.html content=post.content %}</span>
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Fronend -->
    <h2 class="post-list-heading post-section-header">FRONT END&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl}}/frontend" alt="All">>>></a> </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="frontend" -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}
          {%- if post.android_installs -%}
          <span> • {{ post.android_installs }} installs</span>
          {%- endif -%}
          <span> • {% include read-time.html content=post.content %}</span>
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
